<div class="container">
	<div class="row">
		<div class="col-md-12">
	<div ng-if="charview.chardata.aliases[0]">
		<h2><center>
			{{charview.chardata.name}}
			<div ng-hide="charview.chardata.name">
			{{charview.chardata.aliases[0]}}
			</div>
		</center>
			
		</h2>
	</div>	
<div ng-if="charview.chardata.gender"><h5>Gender:</h5> {{charview.chardata.gender}}</div>
<div ng-if="charview.chardata.culture">Culture: {{charview.chardata.culture}}</div>

	<div ng-if="charview.chardata.born">
		<h5>Born:</h5> {{charview.chardata.born}}
	</div>
	<div ng-if="charview.chardata.died">
		<h5>Died:</h5> {{charview.chardata.died}}
	</div>
	<div ng-if="charview.chardata.titles[0]">
		<h5>Titles:</h5><div ng-repeat="title in charview.chardata.titles">
			{{title}}<br>
		</div>
		
	</div>
	<div ng-if="charview.chardata.aliases[0]">
		<h5>Aliases:</h5>
		<div ng-repeat="alias in charview.chardata.aliases">
			{{alias}}<br>
		</div>
		
	</div>
	<div ng-if="charview.chardata.father">
		<h5>Father:</h5> {{charview.chardata.father}}
	</div>
	<div ng-if="charview.chardata.mother">
		<h5>Mother:</h5> {{charview.chardata.mother}}
	</div>
	<div ng-if="charview.chardata.spouse">
		<h5>Spouse:</h5> {{charview.chardata.spouse}}
	</div>
	<div ng-if="charview.chardata.allegiances[0]">
		<h5>Allegiances:</h5>
		<div ng-repeat="allegiance in charview.chardata.allegiances">
			{{allegiance}}<br>
		</div>
	</div>
	<div ng-if="charview.chardata.books[0]">
		<h5>Books:</h5>
		<div ng-repeat="book in charview.chardata.books">
			{{book}}<br>
		</div>
	</div>
	<div ng-if="charview.chardata.povBooks[0]">
		<h5>povBooks:</h5>
		<div ng-repeat="povBook in charview.chardata.povBooks">
			{{povBook}}<br>
		</div>
	</div>
	<div ng-if="charview.chardata.tvSeries[0]">
		<h5>TvSeries:</h5>
		<div ng-repeat="tv in charview.chardata.tvSeries">
			{{tv}}<br>
		</div>
	</div>
	<div ng-if="charview.chardata.playedBy[0]">
		<h5>PlayedBy:</h5>
		<div ng-repeat="played in charview.chardata.playedBy">
			{{played}}<br>
		</div>
	</div>
</div>
	</div>
</div>