<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <strong>Search By Name: </strong><input type="text" placeholder="Book/Character/House" ng-model="name1.name"></div>
            <div class="col-md-6">
                <strong>Sort Data:</strong> <select ng-model="name2" ng-init="name2='name'">
		<option value="name" selected="selected">
			Sort Alphabetically
		</option>
		<option value="-name">
			Sort Alphabetically Reverse
		</option>
	</select>
            </div>
        </div>
    </div>
    <br>
    <div class="row" style="border-bottom: solid;border-top: solid;">
        <div class="col-md-4">
            <h2> <i class="fa fa-shield" aria-hidden="true"></i> for House</h2>
        </div>
        <div class="col-md-4">
            <h2> <i class="fa fa-user" aria-hidden="true"></i> for Character</h2>
        </div>
        <div class="col-md-4">
            <h2> <i class="fa fa-book" aria-hidden="true"></i> for Book</h2>
        </div>
    </div>
    <hr>
    <div ng-repeat="all in mainctr.alldata |orderBy:name2| filter:name1">
        <div class="row">
            <div class="col-md-12">
                <got-Houses></got-Houses>

                <got-Chars></got-Chars>

                <got-Books></got-Books>
            </div>
        </div>

    </div>
</div>